html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    color: white;
    text-shadow: 1px 1px 1px #6d6a6a;


}
.tło{
    background-image: url('./zdjecia/tło.jpg');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.tabelka{
    width: 20%;
    height: 5%;
    float: left;
}
.nazwaglowna{
    position: absolute;
    padding: 5px;
    top:10px;
    left:120px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px #000000;
}
.cases{
    position: absolute;
    padding: 5px;
    top: 10px;
    left: 400px;
    color: white;
}
.cases:hover{
    border: 2px;
    border-style: solid;
    border-color: rgb(118, 180, 235);
    font-size: 18px;
}
.upgrade{
position: absolute;
padding: 5px;
top: 10px;
left: 600px;
color: white;
}
.upgrade:hover{
    border: 2px;
    border-style: solid;
    border-color: rgb(118, 180, 235);
    font-size: 18px;
}
.account{
    position: absolute;
    padding: 5px;
    top: 10px;
    left: 1300px;
    color: white;
}
.account:hover{
    border: 2px;
    border-style: solid;
    border-color: rgb(118, 180, 235);
    font-size: 18px;
}
.h3elo{
    border: 2px;
    border-color: pink;
    border-style: solid;
    font-size: 10px;
    position: absolute;
    top: 500px;
}
.logowanie{
    border: 5px;
    border-color: #ff0101;
    border-style: dotted;
    position: absolute;
    top: 400px;
    left: 100px;
}
.signup-box{
    width: 400px;
    height: 200px;
    margin: 0%;
    border-radius: 3px;
    margin: 0%;

}
.h1signup{
    margin-top: 60px;
    margin-left: 39px;
}
.formsignup{
    width: 200px;
    padding-left: 680px;
    padding-top: 10px;
    padding-bottom: 25px;
}
.labelsignup{
    display: flex;
    padding-top: 20px;
    font-size: 18px;
    margin: 0%;
}
.inputsignup{
    width: 100%;
    padding: 1px;
    border: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 0%;
}
.inputsignup:hover{
   background-color: rgb(206, 206, 206);
   margin: 0%;
}
.bottomsubmit{
    border: none;
    background-color: aqua;
    color: black;
    text-shadow: 1px 1px 1px, white;
    font-size: 14px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    width: 100px;
    margin-top: 15px;
    margin-left: 45px;

}
.bottomsubmit:hover{
    font-size: 16px;
}
.loginhere{
    margin-left: 738px;
    border: none;
    font-size: 18px;
    color: white;
}
.loginhere:hover{
    font-size: 19px;
}
.logo{
    float: left;
    width: 50%;
    display: relative;
}
.twarze{
    display: block;
}
.góra{
    width: 20%; 
    height: 120%;
    float: left;
}